@inherits LayoutComponentBase

<PageTitle>AutomationListUI</PageTitle>

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <main>
        <TopNavBar>

        </TopNavBar>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
